<div class="container">
  <table class="table text-center" border="3">
    <% @users.each do |user| %>
      <tr>
        <td><%=user.username%></td>
        <td><%=link_to("/users/#{user.id}") do %><button type="button" class="btn btn-primary">スケジュール調整</button><%end%></td>
        <td><%=link_to("/users/#{user.id}/destroy",{method: "post"}) do %><button type="button" class="btn btn-danger">登録抹消</button><%end%></td>
      </tr>
    <% end %>
  </table>
</div>
