<div class="container text-center">
  <%= form_tag("/conjans/#{@conjan.work_date}/#{@user.id}/update") do %>
    <p>勤務確定開始時刻</p>
    <input class="hopetime" name="start_time" type="time"></br></br>
    <p>勤務確定終了時刻</p>
    <input class="hopetime" name="end_time" type="time"></br></br>
    <input type="checkbox" name="holiday" id="check" value="1"> 休日に設定</br></br>
    <script>
      $("#check").on("click", function(){
    if($(this).prop("checked") == true){
      $(".hopetime").addClass("d-none");
    }else{
      $(".hopetime").removeClass("d-none");
    }
  });
    </script>
    <input type="submit" value="登録">
  <% end %>

</div>
