// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.brand-titile{
  text-align:center;
  margin-top:110px;
}

#brand-title{
  font-size:70px;
}

.notice{
  margin-top:100px;
  text-align:center;
}

.form{
  text-align:center;
}
