<div class="container text-center">
  <%= form_tag("/appjans/#{@appjan.date}/#{@user.id}/update") do %>
    <p>勤務希望開始時刻</p>
    <input name="start_time" type="time"></br></br>
    <p>勤務希望終了時刻</p>
    <input name="end_time" type="time"></br></br>
    <input type="checkbox" name="holiday" value="1"> 休日希望</br></br>
    <input type="submit" value="登録">
  <% end %>
</div>
